<div class="p-5 rounded d-flex justify-content-center align-content-center text-center ">
    <div class="pop">
        <h1 mat-dialog-title class="py-4">Are you sure that you want to delete this Item?</h1>
        <div mat-dialog-actions class="pt-4">
            <button (click)="confirmDelete()" mat-raised-button color="warn" class="btn btn-primary me-5 me-5 ">Confirm</button>
            <button (click)="closePopup()" mat-raised-button mat-dialog-close color="accent" class="btn btn-danger">Cancel</button>
        </div>
    </div>

</div>
