<div class="p-5 rounded d-flex justify-content-center align-content-center text-center ">
    <div class="pop">
        <h1 mat-dialog-title class="py-4">Are you sure that you want to add another question?</h1>
        <div mat-dialog-actions class="pt-4">
            <button (click)="confirmAddAnother()" mat-raised-button color="warn" class="btn btn-primary me-5 me-5">Yes</button>
            <button (click)="closePopup()" mat-raised-button mat-dialog-close color="accent" class="btn btn-danger">No</button>
        </div>
    </div>
</div>
