<div class="grid p-fluid">
    <div class="col-12 ">
        <div class="card">
            <h5>Subadmin Data</h5>

            <form class="row g-3" [formGroup]="SubadminForm" (ngSubmit)="onSubmit($event)">
                <label for="name">Name</label>
                <span class="p-float-label">
                    <input pInputText type="text" id="name" formControlName="name" class="form-control"
                        placeholder="EX: Omar Samir" required
                        [ngClass]="{'is-valid': getFormControl('name').valid, 'is-invalid': getFormControl('name').invalid && getFormControl('name').touched}" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('name').errors && getFormControl('name').touched">
                        <ng-container *ngIf="getFormControl('name').hasError('required')">Name is
                            required</ng-container>
                        <ng-container *ngIf="getFormControl('name').hasError('minlength')">Name must be at least 3
                            characters</ng-container>
                        <ng-container *ngIf="getFormControl('name').hasError('pattern')">Full Name must be at least with
                            First and last name</ng-container>
                    </div>
                </span>

                <span class="p-float-label">
                    <input pInputText type="text" id="ssn" formControlName="ssn" class="form-control"
                        placeholder="Enter SSN" required
                        [ngClass]="{'is-valid': getFormControl('ssn').valid, 'is-invalid': getFormControl('ssn').invalid && getFormControl('ssn').touched}" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('ssn').errors && getFormControl('ssn').touched">
                        <ng-container *ngIf="getFormControl('ssn').hasError('required')">SSN is
                            required</ng-container>
                        <ng-container *ngIf="getFormControl('ssn').hasError('numeric')">must contain only
                            numbers</ng-container><br>
                        <ng-container
                            *ngIf="getFormControl('ssn').hasError('minlength') || getFormControl('ssn').hasError('maxlength')">
                            must be exactly 14 digits</ng-container>
                    </div>
                </span>


                <label for="email">Email</label>
                <span class="p-float-label">
                    <input pInputText type="email" id="email" formControlName="email" class="form-control"
                        placeholder="Enter Email" required
                        [ngClass]="{'is-valid': getFormControl('email').valid, 'is-invalid': getFormControl('email').invalid && getFormControl('email').touched}" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('email').errors && getFormControl('email').touched">
                        <ng-container *ngIf="getFormControl('email').hasError('required')">Email is
                            required</ng-container>
                        <ng-container *ngIf="getFormControl('email').hasError('email')">Please enter a valid email
                            address</ng-container>
                    </div>
                </span>

                <label for="password">Password</label>
                <span class="p-float-label">
                    <p-password [toggleMask]="true" type="password" id="password" formControlName="password"
                        class="form-control" placeholder="Enter password" required inputStyleClass="w-full p-3"
                        styleClass="mb-2"
                        [ngClass]="{'is-valid': getFormControl('password').valid, 'is-invalid': getFormControl('password').invalid && getFormControl('password').touched}">
                    </p-password>
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('password').errors && getFormControl('password').touched">
                        <ng-container *ngIf="getFormControl('password').hasError('required')">Password is
                            required</ng-container>
                        <ng-container *ngIf="getFormControl('password').hasError('pattern')">Password must be like
                            (Password$?123)</ng-container>
                    </div>
                </span>

                <label for="phone">Phone</label>
                <span class="p-float-label">
                    <input pInputText type="tel" id="phone" formControlName="phone" class="form-control"
                        placeholder="Enter phone number" required
                        [ngClass]="{'is-valid': getFormControl('phone').valid, 'is-invalid': getFormControl('phone').invalid && getFormControl('phone').touched}" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('phone').errors && getFormControl('phone').touched">
                        <ng-container *ngIf="getFormControl('phone').hasError('required')">Phone is
                            required</ng-container>
                        <ng-container
                            *ngIf="getFormControl('phone').hasError('minlength') || getFormControl('phone').hasError('maxlength')">
                            must be exactly 11 digits</ng-container><br>
                        <ng-container *ngIf="getFormControl('phone').hasError('pattern')">Please enter a valid phone
                            number</ng-container>

                    </div>
                </span>

                <div *ngIf="!isEdit">
                    <label for="imageFile">Photo</label>
                    <span class="p-float-label">
                        <input pInputText type="file" id="imageFile" formControlName="imageFile" class="form-control"
                            placeholder="Enter imageFile number" required (change)="onFileSelected($event)"
                            [ngClass]="{'is-valid': getFormControl('imageFile').valid, 'is-invalid': getFormControl('imageFile').invalid && getFormControl('imageFile').touched}" />
                        <div class="invalid-feedback error-message"
                            *ngIf="getFormControl('imageFile').errors && getFormControl('imageFile').touched">
                            <ng-container *ngIf="getFormControl('imageFile').hasError('required')">photo is
                                required</ng-container>
                            <ng-container *ngIf="getFormControl('imageFile').hasError('pattern')">Enter a valid photo
                            </ng-container>
                        </div>
                    </span>
                </div>
                <label for="address">Address</label>
                <span class="p-float-label">
                    <input pInputText type="tel" id="address" formControlName="address" class="form-control"
                        placeholder="Enter address number" required
                        [ngClass]="{'is-valid': getFormControl('address').valid, 'is-invalid': getFormControl('address').invalid && getFormControl('address').touched}" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('address').errors && getFormControl('address').touched">
                        <ng-container *ngIf="getFormControl('address').hasError('required')">address is
                            required</ng-container>
                        <ng-container *ngIf="getFormControl('address').hasError('pattern')">Address must be at least 4
                            characters</ng-container>
                    </div>
                </span>

                <button pButton label="Submit" type="submit" class="p-button p-button-primary"></button>

            </form>

        </div>
    </div>
</div>