<div class="grid p-fluid">
    <div class="col-12 ">
        <div class="card">
            <h5>Event Data</h5>

            <form class="row g-3" [formGroup]="EventForm" (ngSubmit)="onSubmit($event)">
                <label for="name">Name</label>
                <span class="p-float-label">
                    <input pInputText type="text" id="name" formControlName="name" class="form-control"
                        placeholder="EX: PHP" required
                        [ngClass]="{'is-valid': getFormControl('name').valid, 'is-invalid': getFormControl('name').invalid && getFormControl('name').touched}" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('name').errors && getFormControl('name').touched">
                        <ng-container *ngIf="getFormControl('name').hasError('required')">Name is
                            required</ng-container>
                        <ng-container *ngIf="getFormControl('name').hasError('minlength')">Name must be at least 3
                            characters</ng-container>

                    </div>
                </span>

                <label for="description">Description</label>
                <span class="p-float-label">
                    <input pInputText type="text" id="description" formControlName="description" class="form-control"
                        placeholder="Enter description" required
                        [ngClass]="{'is-valid': getFormControl('description').valid, 'is-invalid': getFormControl('description').invalid && getFormControl('description').touched}" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('description').errors && getFormControl('description').touched">
                        <ng-container *ngIf="getFormControl('description').hasError('required')">Description is
                            required</ng-container>
                        <ng-container *ngIf="getFormControl('description').hasError('minlength')">Description must be at
                            least 4
                            characters</ng-container>
                    </div>
                </span>

                <label for="hyperLink">Event Link</label>
                <span class="p-float-label">
                    <input pInputText type="text" id="hyperLink" formControlName="hyperLink" class="form-control"
                        placeholder="Enter hyperLink" required
                        [ngClass]="{'is-valid': getFormControl('hyperLink').valid, 'is-invalid': getFormControl('hyperLink').invalid && getFormControl('hyperLink').touched}" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('hyperLink').errors && getFormControl('hyperLink').touched">
                        <ng-container *ngIf="getFormControl('hyperLink').hasError('required')">eventLink is
                            required</ng-container>
                    </div>
                </span>

                <label for="start_Date">Start Date</label>
                <span class="p-float-label">
                    <input pInputText type="date" id="start_Date" formControlName="start_Date" class="form-control"
                        required
                        [ngClass]="{'is-valid': getFormControl('start_Date').valid, 'is-invalid': getFormControl('start_Date').invalid && getFormControl('start_Date').touched}"
                        (change)="getValue($event)" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('start_Date').errors && getFormControl('start_Date').touched">
                        <ng-container *ngIf="getFormControl('start_Date').hasError('required')">Start date is
                            required</ng-container>
                        <ng-container *ngIf="getFormControl('start_Date').hasError('minDate')">Please enter a future
                            date</ng-container>
                        <ng-container *ngIf="getFormControl('start_Date').hasError('sDate')">Please enter
                            date less than end date </ng-container>
                    </div>
                </span>

                <label for="end_Date">End Date</label>
                <span class="p-float-label">
                    <input pInputText type="date" id="end_Date" formControlName="end_Date" class="form-control" required
                        [ngClass]="{'is-valid': getFormControl('end_Date').valid, 'is-invalid': getFormControl('end_Date').invalid && getFormControl('end_Date').touched}"
                        (change)="getEndValue($event)" />
                    <div class="invalid-feedback error-message"
                        *ngIf="getFormControl('end_Date').errors && getFormControl('end_Date').touched">
                        <ng-container *ngIf="getFormControl('end_Date').hasError('required')">end date is
                            required</ng-container>
                        <ng-container *ngIf="getFormControl('end_Date').hasError('endDateBeforeStart')">Please enter
                            date greater than start date
                        </ng-container>
                    </div>
                </span>

                <div class="field">
                    <span class="p-float-label mb-4">
                        <p-multiSelect inputId="coursesName" [options]="allCourses" optionLabel="name"
                            optionValue="name" formControlName="coursesName" required [filter]="false"></p-multiSelect>

                        <label for="coursesName">Select course</label>
                    </span>
                </div>

                <button pButton label="Submit" type="submit"
                    class="p-button p-button-primary"></button>

            </form>

        </div>
    </div>
</div>
