<div class="col-xl">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Add a student</h5>
        </div>
        <div class="card-body">
            <form class="row g-3 needs-validation" [formGroup]="StudentForm" (submit)="onSubmit($event)">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">Full Name</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                class="bx bx-user"></i></span>
                        <input type="text" id="basic-icon-default-fullname" formControlName="name" class="form-control"
                            placeholder="EX: Ahmed Omar Samir" aria-label="John Doe"
                            aria-describedby="basic-icon-default-fullname2" required [ngClass]="{
                 'is-valid': nameControl.valid,
                 'is-invalid': nameControl.errors && nameControl.touched}" />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                            <ng-container *ngIf="nameControl?.hasError('required')">
                                Name is required
                            </ng-container>
                            <ng-container *ngIf="nameControl?.hasError('minlength')">
                                Name must be at least 3 characters
                            </ng-container> <br>
                            <ng-container *ngIf="nameControl?.hasError('pattern')">
                                Full Name must be at least with First and last name
                            </ng-container>
                        </div>

                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-email">Email</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                        <input type="text" id="basic-icon-default" class="form-control"
                            placeholder="Ex: Ahmedomar1@gmail.com" aria-describedby="basic-icon-default-company2"
                            formControlName="email" required [ngClass]="{
                'is-valid': emailControl.valid,
                'is-invalid': emailControl.errors && emailControl.touched
            }">
                        <!-- <span id="basic-icon-default-email2" class="input-group-text">@example.com</span> -->

                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                            <ng-container *ngIf="emailControl?.hasError('required')">
                                Email is required
                            </ng-container>
                            <ng-container *ngIf="emailControl?.hasError('email')">
                                Please enter a valid email address
                            </ng-container>
                            <br>
                        </div>
                    </div>

                </div>
                <div class="form-text">You can use letters, numbers &amp; periods</div>





                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-company">Password</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-compan" class="input-group-text"><i
                                class="bx bx-buildings"></i></span>
                        <input type="password" id="basic-icon-default-compan" class="form-control pass"
                            placeholder="contains a-z,A-Z,0-9,*&^%" aria-describedby="basic-icon-default-company2"
                            formControlName="password" required [ngClass]="{
                        'is-valid': passwordControl.valid,
                        'is-invalid': passwordControl.errors && passwordControl.touched
                    }">

                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                            <ng-container *ngIf="passwordControl?.hasError('required')">
                                password is required
                            </ng-container>
                            <ng-container *ngIf="passwordControl?.hasError('pattern')">
                                Please enter a valid password
                            </ng-container>
                            <br>
                        </div>
                    </div>

                </div>



                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-company">phone number</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-company" class="input-group-text"><i
                                class="bx bx-buildings"></i></span>
                        <input type="tel" id="basic-icon-default-company" class="form-control"
                            placeholder="contain 11 numbers starts with 01"
                            aria-describedby="basic-icon-default-company2" formControlName="phone" required [ngClass]="{
                        'is-valid': phoneControl.valid,
                        'is-invalid': phoneControl.errors && phoneControl.touched
                    }">

                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                            <ng-container *ngIf="phoneControl?.hasError('required')">
                                phone number is required
                            </ng-container>
                            <ng-container *ngIf="phoneControl?.hasError('pattern')">
                                Please enter a valid phone
                            </ng-container>
                            <br>
                        </div>
                    </div>

                </div>



                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-company">Address</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-company1" class="input-group-text"><i
                                class="bx bx-buildings"></i></span>
                        <input type="text" id="basic-icon-default-company1" class="form-control" placeholder="Address:"
                            aria-describedby="basic-icon-default-company2" formControlName="address" required [ngClass]="{
                        'is-valid': addressControl.valid,
                        'is-invalid': addressControl.errors && addressControl.touched
                    }">

                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                            <ng-container *ngIf="addressControl?.hasError('required')">
                                Address is required
                            </ng-container>
                            <ng-container *ngIf="addressControl?.hasError('minlength')">
                                Please enter a valid Address
                            </ng-container>
                            <br>
                        </div>
                    </div>

                </div>




                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-company">Age</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-company2" class="input-group-text"><i
                                class="bx bx-buildings"></i></span>
                        <input type="number" id="basic-icon-default-company2" class="form-control"
                            placeholder="student age:" aria-describedby="basic-icon-default-company2"
                            formControlName="age" required [ngClass]="{
                        'is-valid': ageControl.valid,
                        'is-invalid': ageControl.errors && ageControl.touched
                    }">

                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                            <ng-container *ngIf="ageControl?.hasError('required')">
                                age is required
                            </ng-container>

                        </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-company">Title</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-company3" class="input-group-text"><i
                                class="bx bx-buildings"></i></span>
                        <input type="text" id="basic-icon-default-company3" class="form-control"
                            placeholder="student title:" aria-describedby="basic-icon-default-company2"
                            formControlName="title" required [ngClass]="{
                        'is-valid': titleControl.valid,
                        'is-invalid': titleControl.errors && titleControl.touched
                    }">

                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                            <ng-container *ngIf="titleControl?.hasError('required')">
                                Title is required
                            </ng-container>
                            <ng-container *ngIf="titleControl?.hasError('minlength')">
                                Enter valid title
                            </ng-container>
                        </div>
                    </div>
                </div>




                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-company">Photo</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-company4" class="input-group-text"><i
                                class="bx bx-buildings"></i></span>
                        <input type="file" id="basic-icon-default-company4" class="form-control"
                            placeholder="student photo:" aria-describedby="basic-icon-default-company2"
                            formControlName="photo" [ngClass]="{
                        'is-valid': photoControl.valid,
                        'is-invalid': photoControl.errors && photoControl.touched
                    }">

                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">

                            <ng-container *ngIf="photoControl?.hasError('pattern')">
                                Enter valid photo
                            </ng-container>
                        </div>
                    </div>
                </div>



                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
